<section ng-repeat="pool in pools | orderBy:'id':false">
	<h1>Pool {{pool.name}}</h1>
	<table>
		<thead>
			<tr>
				<th>Naam</th>
				<th>Gespeeld</th>
				<th>Winst</th>
				<th>Verlies</th>
				<th>Voor</th>
				<th>Tegen</th>
				<th>Gemiddeld</th>
			</tr>
		</thead>	
		<tr ng-repeat="standing in pool.standings | orderBy:['-wins','-plus_minus']">
			<td ng-click="showTeam(standing.team_id)">{{standing.team.name}}</td>
			<td>{{standing.games_played}}</td>
			<td>{{standing.wins}}</td>
			<td>{{standing.losses}}</td>
			<td>{{standing.points_scored}}</td>
			<td>{{standing.points_allowed}}</td>
			<td>{{standing.plus_minus}}</td>
		</tr>
	</table>
</section>



