<div class="refresh">
    <span ng-click="refreshData()">Klik voor verversen...</span>
</div>
<section id="top" hm-dragright="showPool()" class="schedule">
	<ul class="thead">
		<li><h1>team 1</h1></li>
		<li><h1>score</h1></li>
		<li><h1>team 2</h1></li>
	</ul>

	<ul class="schedulelist" ng-repeat="game in schedule | orderBy:['time']">
		<li class="team">{{game.team_1.name}}</li>
		<li class="score">{{game.team_1_score}} - {{game.team_2_score}}</li>
		<li class="team">{{game.team_2.name}}</li>
		<li class="time">tijd: {{toTime(game.start_time)}}</li>
		<li class="score">&nbsp;</li>
		<li class="time">datum: {{toDate(game.start_time)}}</li>
		<li class="right-arrow" ng-click="showScore(game.id)"><img src="img/right-arrow.png"/></li>
	</ul>
</section>